.social {
  z-index: 9;
  position: fixed;
  transform: rotate(-90deg);
  top: 40vh;
  left: -17vh;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  span {
    margin-right: 100px;

    &:after {
      content: '';
      position: absolute;
      width: 70px;
      height: 2px;
      background-color: black;
      bottom: 10px;
      left: 155px;
    }
  }

  svg {
    margin-right: 15px;
    position: relative;
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.4);
    }
  }
}