.hamburger {
  z-index: 8;
  position: fixed;
  top: 3vh;
  right: 5vh;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
  span {
    background-color: black;
    height: 3px;
    width: 30px;
    &:nth-child(1) {
      transition: transform 1s;
    }
    &:nth-child(2) {
      transition: transform 2s;
      width: 36px;
    }
    &:nth-child(3) {
      transition: transform 3s;
    }
  }
  &.active {
    span {
      transform: translateX(1000%) rotate(90deg);
    }
  }
}
  

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
  &.active {
      left: 0;
      visibility: visible;
      opacity: 1;    
  }
  &__wrapper {
      position: relative;
      width: 345px;
      background-color: $main-color;
      height: 100%;
      padding-top: 140px;
      padding-left: 40px;
      transition: all .2s;
      z-index: 10;
  }
  &__close {
      position: absolute;
      top: 25px;
      right: 25px;
      cursor: pointer;
  }
  &__list {
      list-style-type: none;
      padding-left: 35px;
  }
  &__name {
      position: relative;
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 15px;
      &:before {
          content: '';
          position: absolute;
          left: -35px;
          top: 10px;
          width: 15px;
          height: 15px;
          border-radius: 100%;
          border: 2px solid #000000;
          transition: all 0.6s;
      }
      &:hover {
        text-decoration: none;
          &:before {
              background-color: #fff;
          }
      }
      a {
          color: #fff;
          text-decoration: none;
      }
  }
  &__social {
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
      width: 140px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      svg {
        width: 25px;
        height: 100%;
        transition: transform 0.5s;
        &:hover {
          transform: scale(1.4);
        }
      }
  }
  &__opacity {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      opacity: .75;
    
  }
}